@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');

:root {
    --primary-color: #092254;
    --secondary-color: #e57a10;
    --primary-font: 'tajawal', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
}

.container {
    max-width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}